*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse Files #
.settings
.project
.classpath

# Maven Files #
/client/target
/client-jdk17/target
/collector/target
/collector-sql/target
/common/target
/common-jdk17/target
/dashboard/target
/dashboard-sql/target
/integrated-sleepycat/target
/integrated-sleepycat/src/main/webapp/WEB-INF/data
/integrated-sleepycat/src/main/webapp/WEB-INF/logs